### Copy/rename this file as ".env"

### Modify its contents (especially usernames/passwords) as needed

# These must match those set in ./server/.env
MONGO_INITDB_ROOT_USERNAME=your-mongo-username        # MongoDB Username
MONGO_INITDB_ROOT_PASSWORD=your-mongo-secret-password # MongoDB Password

JWT_SECRET=your-jwt-secret # JWT Secret

### Optional: for S3
# AWS_ACCESS_KEY=local-aws-access
# AWS_SECRET_KEY=local-aws-secret
# AWS_REGION=us-east-1
# S3_BUCKET_NAME=local-bucket

### The outbount IP of this machine (i.e. after exiting the Docker internal network - leave empty/commented to auto-detect)
# MQTT_HOST_IP=
