### Copy/rename this file as ".env"

### Modify its contents (especially usernames/passwords) as needed

MONGO_INITDB_ROOT_USERNAME=your-mongo-username        # MongoDB Username
MONGO_INITDB_ROOT_PASSWORD=your-mongo-secret-password # MongoDB Password
MQTT_HOST=broker

MINIO_ACCESS_KEY=your-minio-username        # Minio Username
MINIO_SECRET_KEY=your-minio-secret-password # Minio Password

### Leave these settings as-is, unless other code/infra changes are made
MINIO_ENDPOINT=minio.lf4a.com:9000
MINIO_USE_SSL=true
MINIO_INSECURE_SKIP_VERIFY=true
